*.cache
MoneyBeeProjectMainFolder/UserTests/obj/
MoneyBeeProjectMainFolder/CategoryListTests/obj/
MoneyBeeProjectMainFolder/CategoryTests/obj/
MoneyBeeProjectMainFolder/DatabaseTests/obj/
MoneyBeeProjectMainFolder/DateTests/obj/
MoneyBeeProjectMainFolder/LoginManagerTests/obj/
MoneyBeeProjectMainFolder/MoneyBee/bin/
MoneyBeeProjectMainFolder/MoneyBee/obj/
MoneyBeeProjectMainFolder/NotificationsTests/obj/
MoneyBeeProjectMainFolder/TransactionHistoryTests/obj/
MoneyBeeProjectMainFolder/TransactionTests/obj/
MoneyBeeProjectMainFolder/CategoryListTests/bin/
MoneyBeeProjectMainFolder/CategoryTests/bin/Debug/netcoreapp3.1/CategoryTests.deps.json
MoneyBeeProjectMainFolder/CategoryTests/bin/
MoneyBeeProjectMainFolder/DatabaseTests/bin/
MoneyBeeProjectMainFolder/DateTests/bin/
MoneyBeeProjectMainFolder/LoginManagerTests/bin/
MoneyBeeProjectMainFolder/NotificationsTests/bin/
MoneyBeeProjectMainFolder/MoneyBee/.vs/
MoneyBeeProjectMainFolder/RegistrationManagerTests/bin/
MoneyBeeProjectMainFolder/RegistrationManagerTests/obj/
MoneyBeeProjectMainFolder/TransactionHistoryTests/bin/
MoneyBeeProjectMainFolder/TransactionTests/bin/
MoneyBeeProjectMainFolder/UserTests/bin/
MoneyBeeProjectMainFolder/MoneyBee/MoneyBeeDataBase_REMOTE_1282.mdf
MoneyBeeProjectMainFolder/MoneyBee/MoneyBeeDataBase_LOCAL_1282.mdf
MoneyBeeProjectMainFolder/MoneyBee/MoneyBeeDataBase_BASE_1282.mdf
*.json
src/MoneyBeeProjectMainFolder/CategoryListTests/obj/
src/MoneyBeeProjectMainFolder/CategoryTests/obj/Debug/netcoreapp3.1/CategoryTests.AssemblyInfo.cs
src/MoneyBeeProjectMainFolder/DateTests/obj/Debug/netcoreapp3.1/DateTests.AssemblyInfo.cs
src/MoneyBeeProjectMainFolder/LoginManagerTests/obj/Debug/netcoreapp3.1/LoginManagerTests.AssemblyInfo.cs
src/MoneyBeeProjectMainFolder/RegistrationManagerTests/obj/Debug/netcoreapp3.1/RegistrationManagerTests.AssemblyInfo.cs
src/MoneyBeeProjectMainFolder/TransactionTests/obj/Debug/netcoreapp3.1/TransactionTests.AssemblyInfo.cs
src/MoneyBeeProjectMainFolder/CategoryTests/obj/CategoryTests.csproj.nuget.g.props
src/MoneyBeeProjectMainFolder/CategoryTests/obj/CategoryTests.csproj.nuget.g.targets
src/MoneyBeeProjectMainFolder/DatabaseTests/obj/DatabaseTests.csproj.nuget.g.props
src/MoneyBeeProjectMainFolder/DatabaseTests/obj/DatabaseTests.csproj.nuget.g.targets
src/MoneyBeeProjectMainFolder/DatabaseTests/obj/
src/MoneyBeeProjectMainFolder/DateTests/obj/
src/MoneyBeeProjectMainFolder/LoginManagerTests/obj/
src/MoneyBeeProjectMainFolder/MoneyBee/.vs/
src/MoneyBeeProjectMainFolder/MoneyBee/obj/
src/MoneyBeeProjectMainFolder/NotificationsTests/obj/
src/MoneyBeeProjectMainFolder/RegistrationManagerTests/obj/
src/MoneyBeeProjectMainFolder/TransactionHistoryTests/obj/
src/MoneyBeeProjectMainFolder/TransactionTests/obj/
src/MoneyBeeProjectMainFolder/UserTests/obj/
src/MoneyBeeProjectMainFolder/MoneyBee/bin/
src/MoneyBeeProjectMainFolder/CategoryListTests/bin/
src/MoneyBeeProjectMainFolder/CategoryTests/bin/
src/MoneyBeeProjectMainFolder/CategoryTests/obj/
src/MoneyBeeProjectMainFolder/DatabaseTests/bin/
src/MoneyBeeProjectMainFolder/DateTests/bin/
src/MoneyBeeProjectMainFolder/LoginManagerTests/bin/
src/MoneyBeeProjectMainFolder/NotificationsTests/bin/
src/MoneyBeeProjectMainFolder/RegistrationManagerTests/bin/
src/MoneyBeeProjectMainFolder/TransactionHistoryTests/bin/
src/MoneyBeeProjectMainFolder/TransactionTests/bin/
src/MoneyBeeProjectMainFolder/UserTests/bin/
